h1, html, body, div, h2, h3,a{
	margin:0;
	padding: 0;
	font-family: Calibri;
}
#appHeader{
	border-bottom: 2px dashed white;
	padding-bottom:10px;
}
#myRating{
	margin-left: 50px;
	margin-top: 10px;
	display: block;
}
#text-area{
	margin-top: 60px !important;
	display: inline-block;
}
#gallery{
	margin-top: 100px;
}
div.sapUiRespGridSpanM4.sapUiRespGridSpanS6{
	background:red;

}
div.sapUiRespGridSpanM6.sapUiRespGridSpanS3{
	background:yellowgreen;

}
div.sapUiRespGridSpanM12.sapUiRespGridSpanS12{
	background:skyblue;
	text-align: center;
	font-weight: bold;
	font-size: 1.6em;
	outline:2px solid black;
}
.sapUiRespGridSpanL3, .sapUiRespGridSpanL6 {
	text-align: center;
	font-weight: bold;
	font-size: 1.6em;
	outline:2px solid black;
}	
#BorderLayout1{
	width: auto !important;
	display: inline-block;
	margin-top: 2%;
}
#accordionA{
	float: right;
	display: inline-block;
	margin-top: 2%;
}