h1, html, body, div, h2, h3,a{
	margin:0;
	padding: 0;
	font-family: Calibri;
}
body{
	background-image: url(../images/bg.png);
	background-repeat: repeat;
}
#menu-div{
	margin:0 auto;
	background-color: white;
	width: 100%;
	height: 50px;
	margin-top: 4%;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}
.sapUiUx3NavBar{
	text-align: center;
	border-bottom: none;
	height: 50px;
}
.sapUiUx3NavBar li a{
	font-size: 1.8em;
	color:rgb(50,51,48);
	font-weight: bold;

}
.sapUiUx3NavBarList{
	height: 35px;
	text-align:center;
	margin-top: 10px;
}
.sapUiUx3NavBarList li{
	margin-right: 3%;
}
#logo-div{
	background-image:url(../images/logo.png);
	background-repeat: no-repeat;
	height: 150px;
	position: relative;
	width: 150px;
	top:-100px;
	left: 40px;
}
#main-div{
	margin:0 auto;
	background-image:url(../images/bg-1.png);

	width: 70%;
	height:550px;
	margin-top:-80px;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align: center;
}
#main-div .sapUiUx3NavBar{
	text-align: center;
	border-bottom: none;
	height: 50px;
	background:url(../images/submenu-img.png);
	background-repeat: repeat-x;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-size: 50px;
}
#main-div .sapUiUx3NavBar li a{
	font-size: 1.8em;
	color: white;
	font-weight: bold;

}
#main-div .sapUiUx3NavBarList{
	height: 35px;
	text-align:center;
	margin-top: 10px;
}
#main-div span{
	margin-top: 3%;
	display:block;
	text-align: center;
}
#article{
	width: 90%;
	height: 100%;
	background: transparent;
	border:none;
}

/*Some screen si*/
@media (max-width: 1200px) {
	#logo-div{
		display: none;
	}

	#main-div{
		margin-top: 50px;
		width: 95%;
	}
	.sapUiUx3NavBarBack, .sapUiUx3NavBarForward, .sapUiIcon, .sapUiIconMirrorInRTL{
		margin-top: 10px !important;
	}
  }
